container_commands:
  01_seed_users:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py seed_users --total 100"
    leader_only: true
  02_seed_categories:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py seed_categories"
    leader_only: true
  03_seed_people:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py seed_people --total 146"
    leader_only: true
  04_seed_books:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py seed_books --total 195"
    leader_only: true
  05_seed_movies:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py seed_movies --total 177"
    leader_only: true
  06_seed_reviews:
    command: "source /var/app/venv/*/bin/activate && python3 manage.py seed_reviews --total 217"
    leader_only: true
option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: config.settings